<div id="rehoboth-hero">

  <div class="left">
    <h1>
      Rehoboth School Of Excellence
    </h1>
    <p>"we develop the whole person"</p>

    <div class="buttons">

      <button id="enroll-btn">enroll now</button>
      <button id="call-btn">call us</button>

    </div>

  </div>

  <div class="right">

    <img src="../../../assets/images/website-designing.svg" alt="">

  </div>


</div>
<div id="rehoboth-body">

  <div class="header-container">
    <img src="../../../assets/images/subjects.png" height="30px" alt="">
    <h3 class="body-headers">Subjects Offered:</h3>
  </div>

  <div class="subjects">

    <ul>
      <li>Mathematics <img src="../../../assets/images/icons8-mathematics-50.png" height="25px" alt=""> </li>
      <li>Statistics <img src="../../../assets/images/icons8-statistics-50.png" height="25px" alt=""></li>
      <li>Principles Of Accounts <img src="../../../assets/images/icons8-accounting-50.png" height="25px" alt=""></li>
      <li>Business Studies <img src="../../../assets/images/icons8-business-goal-48.png" height="25px" alt=""></li>
      <li>ICDL & Computer Studies <img src="../../../assets/images/computer-studies.png" height="25px" alt=""></li>
      <li>Geography <img src="../../../assets/images/icons8-geography-50.png" height="25px" alt=""></li>
      <li>Combined Science <img src="../../../assets/images/science.png" height="25px" alt=""></li>
      <li>Family & Religious Studies <img src="../../../assets/images/icons8-family-50.png" height="25px" alt=""></li>
    </ul>

    <ul>
      <li>English <img src="../../../assets/images/icons8-languages-80.png" height="25px" alt=""> </li>
      <li>Ndebele <img src="../../../assets/images/icons8-languages-80.png" height="25px" alt=""></li>
      <li>Literature (English) <img src="../../../assets/images/icons8-literature-50.png" height="25px" alt=""></li>
      <li>Literature (Ndebele) <img src="../../../assets/images/icons8-literature-50.png" height="25px" alt=""></li>
      <li>German (Deutsche)<img src="../../../assets/images/icons8-languages-80.png" height="25px" alt=""></li>
      <li>French <img src="../../../assets/images/icons8-languages-80.png" height="25px" alt=""></li>
      <li>History <img src="../../../assets/images/icons8-history-50.png" height="25px" alt=""></li>
      <li>Heritage <img src="../../../assets/images/icons8-africa-85.png" height="25px" alt=""></li>
    </ul>

  </div>

  <div id="mission-statement">

    <div class="header-container">
      <img src="../../../assets/images/icons8-purchase-order-100.png" height="30px" alt="">
      <h3 class="body-headers">Mission Statement: </h3>
    </div>

    <p>
      We are a Christian College, which subscribes fully to the fear of God.
      We seek to " develop the whole person" in producing the best Academic
      Results and moulding a character of Excellence for every student.
    </p>

  </div>

  <div id="enquiries">

    <div class="header-container">
      <img src="../../../assets/images/icons8-questions-50.png" height="30px" alt="">
      <h3 class="body-headers">Enquiries:</h3>
    </div>

    <div id="form">
      <form action="">

        <div class="input">
          <input type="text" placeholder="Name:">
        </div>

        <div class="input">
          <input type="text" placeholder="Email Address:">
        </div>

        <div class="input">
          <input type="tel" placeholder="Phone Number:">
        </div>

        <div class="input">
          <textarea name="question" id="question" placeholder="Enquiry:"></textarea>
        </div>

        <div class="input" id="submit">
          <input type="submit" value="Submit Enquiry">
        </div>

      </form>
    </div>

  </div>

</div>

