<footer>

    <div id="logo">
      <div><img src="../../../assets/images/blackgt.png" alt="" height="50px"></div>
      <div id="logo-text">
        <div class="top">
          GLAD TIDINGS
        </div>
        <div class="bottom">
          FELLOWSHIP
        </div>
      </div>

      <div class="socials" style="display: flex; justify-content: space-evenly; margin-block: 20px;">

        <div class="icon">
          <a href="https://wa.me/+263776341953"><img src="../../../assets/images/icons8-whatsapp-30.png" alt="" height="20px"></a>
        </div>

        <div class="icon">
          <a href="https://www.facebook.com/p/Glad-Tidings-Fellowship-Byo-International-Missions-Center-100064615606579/"><img src="../../../assets/images/icons8-facebook-50 (2).png" alt="" height="20px"></a>
        </div>

        <div class="icon">
          <a href="https://www.youtube.com/@gladtidingsfellowshipbulaw8141"><img src="../../../assets/images/icons8-youtube-50 (1).png" alt="" height="20px"></a>
        </div>

      </div>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3">
      <h5 class="heading">Links</h5>
      <p> <a routerLink="about">About Us</a> <br> <a routerLink="resources">Resources</a> <br> <a routerLink="rehoboth">Rehoboth School Of Excellence</a> </p>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3">
   <!--   <h5 class="heading">Visit Us</h5>
      <p>No. 18 Herbert Chitepo street, <br> Connaught avenue, <br> Bulawayo, Zimbabwe</p>
    -->
      <h5 class="heading">Admin Office</h5>
      <p>Mon - Fri 0900hrs - 1630hrs <br> Sat - 0830hrs - 1400hrs <br> Sun 0900hrs - 1500hrs</p>
    </div>

    <div class="col-sm-12 col-md-3 col-lg-3">
      <h5 class="heading">Contact Us</h5>
      <p>+263 292 888 285 <br> +263 776 341 953 <br> admin&#64;gtintmissionsbyo.com</p>
    </div>



</footer>
<hr id="bottom-line">
