footer{
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: #88BDBC;
  font-family: 'Poppins';

  .heading{
    font-weight: bold;
    margin: 15px;
  }

  p{
    font-size: 13px;
  }
}

