<footer>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <h5 class="heading">Visit Us</h5>
      <p>No. 18 Herbert Chitepo street, <br> Connaught avenue, <br> Bulawayo, Zimbabwe</p>

      <h5 class="heading">Office Hours</h5>
      <p>Mon - Fri 0900hrs - 1700hrs <br> Sat - Sun 0730hrs - 1600hrs</p>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <h5 class="heading">Contact Us</h5>
      <p>+2639 87 45 54 <br> admin@gladtidingsbyo.co.zw <br>@church@gladtidingsbyo.co.zw </p>

      <h5 class="heading">Social Media</h5>
      <p>Facebook <br> Youtube</p>
    </div>

    <div class="col-sm-12 col-md-4 col-lg-4">
      <h5 class="heading">Links</h5>
      <p>About Us <br> Events <br> Services </p>

      <h5 class="heading">Ministry</h5>
      <p>Ladies ministry <br> Men's ministry <br> Youth ministry </p>
    </div>
</footer>
