<header id="header">
  <nav>
    <div id="logo" (click)="go_home()">
      <span>
        <img src="../../../assets/images/blackgt.png" alt="Glad-tidings-fellowship" height="65px" >
      </span>
      <span id="logo-text" [ngStyle]="{ color: color}">
        <div class="top">
          GLAD TIDINGS
        </div>
        <div class="bottom">
          FELLOWSHIP
        </div>
      </span>
    </div>
    <div  [@burgerMenu]='state' id="menu" [ngClass]=" straight ? 'straight' : 'angled' ">
      <span  (click)="openClose()" style="z-index:1">
        <hr id="line1" class="line" [ngStyle]="{ background: color}">
        <hr id="line2" class="line" [ngStyle]="{ background: color}">
        <hr id="line3" class="line" [ngStyle]="{ background: color}">
      </span>
      <div id="glass" class="glass-menu" [ngStyle]="{ display: display}">
        <div>
          <div style="display: flex; flex-wrap: nowrap; justify-content: center;">
            <hr style="width: 25px; height: 2px; color: #0E153A;">
            <h4 style="color: #0E153A; letter-spacing: 1.5px; font-weight: bold;">Links</h4>
            <hr style="width: 25px; height: 2px; color: #0E153A;">
          </div>
          <li class="menu-item">
            <a routerLink="about" [ngStyle]="{ color: 'white'}"> About Us</a>
          </li>
          <li class="menu-item">
            <a href="" [ngStyle]="{ color: 'white'}"> Events </a>
          </li>
          <li class="menu-item">
            <a href="" [ngStyle]="{ color: 'white'}"> Youth </a>
          </li>
          <li class="menu-item">
            <a href="" [ngStyle]="{ color: 'white'}"> Men </a>
          </li>
          <li class="menu-item">
            <a href="" [ngStyle]="{ color: 'white'}"> Ladies </a>
          </li>
          <div style="margin-top: 60px; display: flex; flex-wrap: nowrap; justify-content: center;">
            <hr style="width: 25px; height: 2px; color: #0E153A;">
            <h4 style="color: #0E153A; letter-spacing: 1.5px; font-weight: bold;">Social Media</h4>
            <hr style="width: 25px; height: 2px; color: #0E153A;">
          </div>
          <div style="display: flex; flex-wrap: nowrap; justify-content: center; margin-top: 0px;">
            <img src="../../../assets/images/whatsapp.png" height="30px" style="margin: 10px;">
            <img src="../../../assets/images/facebook.png" height="30px" style="margin: 10px;">
            <img src="../../../assets/images/youtube.png" height="30px" style="margin: 10px;">
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
