#header{
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: white;
  height: 85px;
  padding: 10px;
  nav{
    height: 100%;

    #logo{
      display: flex;
      align-items: center;
      float: left;

      #logo-text{
        font-family: 'Oswald';
        font-size: 18px;
        margin-left: 10px;
        color: #0E153A;

        .top{
          font-weight: bold;
        }

        .bottom{
          letter-spacing: 0.16em;
          font-size: 15px;
          margin-top: -5px;
        }
      }
    }

    #logo:hover{
      cursor: pointer;
    }

    #menu{
      z-index: 1;
      float: right;
      height: 100%;
      display: flex;
      align-items: center;

      .line{
        width: 30px;
        height: 2px;
        margin: 5px;
        background: #0E153A;
      }

      .glass-menu{
        position: absolute;
        right: 0;
        top: 0;
        width: 400px;
        height: 100vh;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.14), rgba(255, 255, 255, 0.14));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border:1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        text-align: center;
        padding: 30px;

        div{
          margin-top: 100px;
          list-style: none;

          .menu-item{
            margin: 10px;
            a{
              text-align: left;
              font-size: 18px;
              font-family: 'Oswald';
              letter-spacing: 1.5px;
              text-decoration: none;
            }
          }
        }
      }
    }

    .angled{

      #line1{
        transform: translate(0px, 8px) rotate(45deg);
      }

      #line2{
        opacity: 0;
      }

      #line3{
        transform: translate(0px, -8px) rotate(-45deg);
      }
    }

  }
}
