<header id="header">
  <nav>
    <div id="logo">
      <span>
        <img src="../../../assets/images/logo.png" alt="Glad-tidings-fellowship" height="65px">
      </span>
      <span id="logo-text" [ngStyle]="{ color: color}">
        <div class="top">
          GLAD TIDINGS
        </div>
        <div class="bottom">
          FELLOWSHIP
        </div>
      </span>
    </div>
    <div id="menu">
      <span>
        <hr class="line" [ngStyle]="{ background: color}">
        <hr class="line" [ngStyle]="{ background: color}">
        <hr class="line" [ngStyle]="{ background: color}">
      </span>
    </div>
  </nav>
</header>
