<div>
  <div class="hero">
    <div id="hero-text">About <br> Us</div>
 <!--   <img src="../../../assets/images/angled.svg" width="100%" >-->
  </div>

  <div class="section">
    <img height="40px" src="../../../assets/images/church.png" alt="">
    <h3 id="fisrt-head" class="heading">WHO WE ARE</h3>
    <p>Glad Tidings fellowship (International missions centre) was started in November
      1987 in a Tshabalala house. (One of the City of Bulawayo’s suburbs.) God has seen us
      through all these years.
      We have assemblies in the following areas: Nkulumane, Luveve, Kombo, Gwanda (Collen Bawn
      and Silikwe) Lower Gweru (Bembe, Shagari and Makhulambili) Inyathi and Nyamandlovu (Magwadini)
    </p>
  </div>
  <div class="verse" style="color: white; text-align: center; padding: 20px; background-image: url(../../../assets/images/audito.jpg); background-position: bottom;">
    “Now it shall come to pass in the later days that the mountain of the Lord’s house shall be established on the top of the mountains, and shall be exalted above the hills,
    and the peoples shall flow to it. Many nations shall come and say, ‘Come, and let us go up to the mountain of the Lord, to the house of the God of Jacob; he will teach us his
    ways, and we shall walk in his paths.’ For out of Zion the law shall go forth and the word of the Lord from Jerusalem.” Mica 4 v 1-2.
  </div>
  <div class="section section-two">
    <div class="head">
      <h3 class="heading">WHAT WE BELIEVE</h3>
      <img height="40px" src="../../../assets/images/bible.png" alt="">
    </div>
    <p>We believe in One God, who is eternally self-existing, the Father and Creator of all things. Psalm 90 v 2; Gen. 1 v 1.
     <br> We believe in the only begotten Son of God, Jesus Christ, who is the eternal word, co-existing with the Father from eternity. He is the second Person of the God-Head… the very express image of his Person. He was born of a Virgin, sinless, and by his blood redemption has been secured for all humanity. Heb. 1 v 5, 8-12.
      <br> We believe in the Holy Spirit of God, eternally existing with the Father and the Son, and being the third Person of the God-Head. He is the one who convicts and leads us to Jesus. He is the sole revelatory of all the mysteries of God. Gen. 1 v 2; 1 Cor. 2 v 9 -11.
     <br> We believe in the Bible, both Old and New Testaments, as the only infallible word of God, the supreme authority in all matters of doctrine and standard of living for the believers. 2 Tim. 3 v 15-17.
      <br> We believe in the Church, being the Body of Christ here on earth, both Universal and Local. The church is made of all the called out ones, those born of the Spirit of God and adopted as sons of God. The church must assembly for fellowship, instruction from the word of God, teaching, training and equipping for work of ministry. It must participate in Sacraments as instructed by the Scriptures. Eph. 1 v 22, 23. Heb. 10 v 23 -25.
     <br> We are a Pentecostal/Charismatic ministry. We believe in the Gifts of the Holy Spirit, their manifestation and practice in the assembling of the believers and in their daily lives. 1 Cor. 12 v 4 -11.
     <br> Our Vision is: Matthew 28 v 19. “Go therefore and make disciples of all nations…”
     <br> We preach the gospel by all means at all times to all people</p>
  </div>

  <div class="section section-two">
    <div class="head">
      <h3 class="heading">OUR VISION</h3>
      <img height="40px" src="../../../assets/images/trust.png">
    </div>
    <p>Our Vision is: Matthew 28 v 19. “Go therefore and make disciples of all nations…”
      <br> We preach the gospel by all means at all times to all people</p>
  </div>
</div>
