div{
  width: 100%;

  .hero{
    height: 680px;
    background: linear-gradient(0deg, #0e153a67, #0e153a67), url(../../../assets/images/IMG_0004-Pano.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;

    #hero-text{
      font-family: 'Poppins';
      font-size: 83px;
      font-weight: bolder;
      margin: 50px;
      margin-bottom: -350px;
      color: white;
    }
  }

  .head{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  .section{
    margin-right: 35px;
    margin-left: 35%;
    width: auto;
    text-align: center;

    .heading{
      font-family: 'Poppins';
      font-weight: bolder;
      font-size: 22px;
      margin-right: 20px;
    }

    p{
      font-size: 16px;
      font-family: 'Oswald';
      margin-top: 20px;
    }
  }

  .section-two{
    width: fit-content;
    height: fit-content;
    padding: 20px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.10));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.14);
  }
}
