<div>
  <div class="hero">
    <div id="hero-text">About <br> Us</div>
    <img src="../../../assets/images/angled.svg" width="100%" >
  </div>

  <div class="section" style="margin-top: -180px;">
    <img height="40px" src="../../../assets/images/church.png" alt="">
    <h3 id="fisrt-head" class="heading">WHO WE ARE</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting
       industry. Lorem Ipsum has been the industry's standard dummy text
        ever since the 1500s, when an unknown printer took a galley of type
         and scrambled it to make a type specimen book. It has survived not
          only five centuries, but also the leap into electronic typesetting,
           remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
             and more recently with desktop publishing software like Aldus
              PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <div>
    <img src="../../../assets/images/outside.jpg" height="200px" alt="">
  </div>
  <div class="section section-two" style="margin-top: 100px;">
    <div class="head">
      <h3 class="heading">WHAT WE BELIEVE</h3>
      <img height="40px" src="../../../assets/images/bible.png" alt="">
    </div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text
       ever since the 1500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book. It has survived not
         only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s
           with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
             PageMaker including versions of Lorem Ipsum.</p>
  </div>

  <div class="section section-two" style="margin-top: 100px;">
    <div class="head">
      <h3 class="heading">HOW TO SUPPORT US</h3>
      <img height="40px" src="../../../assets/images/trust.png">
    </div>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting
      industry. Lorem Ipsum has been the industry's standard dummy text
       ever since the 1500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book. It has survived not
         only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s
           with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
             PageMaker including versions of Lorem Ipsum.</p>
  </div>
  <div>
    <img src="../../../assets/images/outside.jpg" height="200px" alt="">
  </div>
</div>
