<div class="about-container">

  <div class="about-hero">

    <div class="verse">
      "Now it shall come to pass in the latter days
      That the mountain of the Lord’s house
      Shall be established on the top of the mountains,
      And shall be exalted above the hills;
      And peoples shall flow to it.
      2 Many nations shall come and say,
      “Come, and let us go up to the mountain of the Lord,
      To the house of the God of Jacob;
      He will teach us His ways,
      And we shall walk in His paths.”
      For out of Zion the law shall go forth,
      And the word of the Lord from Jerusalem."
    </div>
    <br>
    <div class="verse-name">- Micah 4 v 1-2</div>

  </div>

  <div class="beliefs">

    <h2 class="body-headers"> About Us </h2>
    <hr class="underline">

    <div class="our-story">
        <h3 class="subheadings">Our Story</h3>
        <hr class="underline">

        <p>
          Glad Tidings fellowship (International missions centre) was started in November 1987 in a Tshabalala house. (One of the City of Bulawayo’s suburbs.) God has seen us through all these years and we have grown in Matebeleland and opened  assemblies in the following areas: Nkulumane, Luveve, Kombo, Gwanda (Collen Bawn and Silikwe) Lower Gweru (Bembe, Shagari and Makhulambili) Inyathi and Nyamandlovu (Magwadini).
        </p>

        <div class="story-pics">

          <img src="../../../assets/images/meeting.jpg" alt="">

          <img src="../../../assets/images/prayer.jpg" alt="">

          <img src="../../../assets/images/worship.jpg" alt="">

        </div>
    </div>

    <div class="what-we-believe">

      <h3 class="subheadings">What We Believe</h3>
      <hr class="underline">


      <div id="pc-table" class="table-div">

        <table>

          <tr>

            <td>
              <h3>Psalm 90 v 2; Gen. 1 v 1.</h3>
              <p>We believe in One God, who is eternally self-existing, the Father and Creator of all things.</p>
            </td>

            <td>
              <h3>Heb. 1 v 5, 8-12.</h3>
              <p> We believe in the only begotten Son of God, Jesus Christ, who is the eternal word, co-existing with the Father from eternity. He is the second Person of the God-Head… the very express image of his Person. He was born of a Virgin, sinless, and by his blood redemption has been secured for all humanity</p>
            </td>

            <td>
              <h3>Gen. 1 v 2; 1 Cor. 2 v 9 -1</h3>
              <p> We believe in the Holy Spirit of God, eternally existing with the Father and the Son, and being the third Person of the God-Head. He is the one who convicts and leads us to Jesus. He is the sole revelatory of all the mysteries of God.</p>
            </td>

          </tr>

          <tr>

            <td>
              <h3>2 Tim. 3 v 15-17.</h3>
              <p>We believe in the Bible, both Old and New Testaments, as the only infallible word of God, the supreme authority in all matters of doctrine and standard of living for the believers. </p>
            </td>

            <td>
              <h3>Eph. 1 v 22, 23. Heb. 10 v 23 -25.</h3>
              <p>We believe in the Church, being the Body of Christ here on earth, both Universal and Local. The church is made of all the called out ones, those born of the Spirit of God and adopted as sons of God. The church must assembly for fellowship, instruction from the word of God, teaching, training and equipping for work of ministry. It must participate in Sacraments as instructed by the Scriptures.</p>
            </td>

            <td>
              <h3>1 Cor. 12 v 4 -11</h3>
              <p>We are a Pentecostal/Charismatic ministry. We believe in the Gifts of the Holy Spirit, their manifestation and practice in the assembling of the believers and in their daily lives. </p>
            </td>

          </tr>

        </table>

      </div>

      <div id="mobile-table" class="table-div">

        <table>

          <tr>

            <td>
              <h3>Psalm 90 v 2; Gen. 1 v 1.</h3>
              <p>We believe in One God, who is eternally self-existing, the Father and Creator of all things.</p>
            </td>

          </tr>

          <tr>
            <td>
              <h3>Gen. 1 v 2; 1 Cor. 2 v 9 -1</h3>
              <p> We believe in the Holy Spirit of God, eternally existing with the Father and the Son, and being the third Person of the God-Head. He is the one who convicts and leads us to Jesus. He is the sole revelatory of all the mysteries of God.</p>
            </td>
          </tr>

          <tr>
            <td>
              <h3>Heb. 1 v 5, 8-12.</h3>
              <p> We believe in the only begotten Son of God, Jesus Christ, who is the eternal word, co-existing with the Father from eternity. He is the second Person of the God-Head… the very express image of his Person. He was born of a Virgin, sinless, and by his blood redemption has been secured for all humanity</p>
            </td>
          </tr>

          <tr>
            <td>
              <h3>2 Tim. 3 v 15-17.</h3>
              <p>We believe in the Bible, both Old and New Testaments, as the only infallible word of God, the supreme authority in all matters of doctrine and standard of living for the believers. </p>
            </td>
          </tr>

          <tr>
            <td>
              <h3>Eph. 1 v 22, 23. Heb. 10 v 23 -25.</h3>
              <p>We believe in the Church, being the Body of Christ here on earth, both Universal and Local. The church is made of all the called out ones, those born of the Spirit of God and adopted as sons of God. The church must assembly for fellowship, instruction from the word of God, teaching, training and equipping for work of ministry. It must participate in Sacraments as instructed by the Scriptures.</p>
            </td>
          </tr>

          <tr>
            <td>
              <h3>1 Cor. 12 v 4 -11</h3>
              <p>We are a Pentecostal/Charismatic ministry. We believe in the Gifts of the Holy Spirit, their manifestation and practice in the assembling of the believers and in their daily lives. </p>
            </td>
          </tr>

        </table>

      </div>

    </div>


    <div class="vision">

      <h3 class="subheadings"> Our Vision</h3>
      <hr class="underline">


      <div>

        <div id="pc-pad" class="picture-pad">

          <div>

            <img src="../../../assets/images/baptism0.JPG" alt="">

            <img src="../../../assets/images/baptism1.JPG" alt="">

            <img src="../../../assets/images/baptism2.JPG" alt="">

          </div>
        </div>
        <div id="mobile-pad" class="picture-pad">

          <div>

            <img src="../../../assets/images/1stbapt.png" alt="">

            <img src="../../../assets/images/2ndbapt.png" alt="">

            <img src="../../../assets/images/3rdbapt.png" alt="">

          </div>
        </div>
        <div id="misson" class="vision-verse">
          <h1>"</h1>
          <p>Go therefore and make disciples of all the nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit <br>
          <span style="font-style: normal !important; font-weight: 600 !important;">- Matthew 28 v 19</span>
          </p>
          <h1>"</h1>
        </div>



      </div>


    </div>
  </div>

</div>
<div id="ministries">

  <div id="inner-ministries">

    <div class="picture-pad">

      <img src="../../../assets//images/_DSC4704.JPG" alt="">

      <img src="../../../assets/images/_DSC4910.JPG" alt="">

      <img src="../../../assets/images/_DSC5489.JPG" alt="">

    </div>

    <h2 class="subheadings" style="margin-top: 80px !important;">Ministry Departments</h2>
    <hr class="underline" style="background-color: white; width: 60px; margin-inline-start: 0;">


    <ul>

      <li>
        <p> <strong class="strong">Children’s church:</strong> Children are a great value in the church. They must be taught the word of God and nurtured in the ways of the Lord while they are young.</p>
      </li>

      <li>
        <p> <strong class="strong">The Joseph Generation (Youth Ministry):</strong>  The youth ministry is made out of the Teenagers, the Youth and the Young adults. From time to time they run sessions for different groupings to focus on specific topics. “Joseph of the Bible is our inspiration as young people.”</p>
      </li>

      <li>
        <p> <strong class="strong">The Ladies Ministry:</strong> Women that fear God are found in the Temple for prayer, intercession and waiting upon the Lord for the business of the Father.</p>
      </li>

      <li>
        <p> <strong class="strong">Men’s Ministry:</strong> “The Lord is with you, you mighty man of valor.” When men arise and take their positions in the church, the Spirit of the Lord God will flow and the work of ministry established.</p>
      </li>

      <li>
        <p> <strong class="strong">Praise and Worship Ministry:</strong> Instruments and voices blended together into sweet anointed melody to the Lord. It releases an anointing and ministration to the people of God. Needs are met, deliverances and healings take place even before hands are laid on the sick. Hearts are set ready to receive the incorruptible seed of the word of God and revelation with the gifts of the Spirit operate freely to the edification of the body of Christ.</p>
      </li>

      <li>
        <p> <strong class="strong">Media:</strong> While Technology has brought with it lots of ills and wickedness into the world, those that are born again and fear God will use it into the propagation of the gospel, feel up the airwaves with the life of God and take the gospel to the ends of the earth. We are still building this department. It needs a lot of financial resources, personnel and commitment.</p>
      </li>

      <li>
        <p> <strong class="strong">Gate Keepers:</strong> These are our ushers, those that keep the gates of the household of faith. They spend all their time standing and checking in all directions if everyone is safe, comfortable and happy in their pursuit of worshipping God and being ministered to. The Lord bless this wonderful team.</p>
      </li>

      <li>
        <p> <strong class="strong">The Hosting Team:</strong> Among the Gate Keepers is a smaller team that hosts, or receives those that are coming into the assembly of the saints for the first time. You are welcomed, and they take time to share with the visitor a few things about the church, make them feel comfortable and loved. They extend our hand of fellowship as a ministry and desire to receive such into full church membership.</p>
      </li>

      <li>
        <p> <strong class="strong">Ministry of Helps:</strong> (The Embracing Hands) Deut. 10 v 18 -19. “He administers justice for the fatherless and the widow, and loves the stranger, giving him food and clothing. Therefore, love the stranger, for you were strangers in the land of Egypt.” God extends his love and provision to these people through his church. The church must take care of them. We do so through the ministry of helps.</p>
      </li>

    </ul>

  </div>

</div>
