.about-hero {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../assets/images/IMG_0001\ \(2\)-Pano.jpg');
  background-position: bottom;
  background-size: cover;
  padding-inline: 20%;
  padding-block: 5%;

  .verse {
    font-family: 'Nunito';
    font-weight: 100;
    font-size: 25px;
    color: #ffffff96;
  }

  .verse-name{
    color: white;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 28px;

  }
}

.beliefs{

  width: 80%;
  margin-inline: auto;
  margin-block: 100px;

  .underline{
    width: 40px;
    height: 1px;
    background: black;
    margin-inline: 0;
    margin-block: 5px;
  }

  .our-story, .what-we-believe, .vision{
    width: 80%;
    margin-inline: auto;
    margin-block: 50px;
  }

  .our-story{

    p{
      font-family: 'Nunito';
      font-size: 16px;
    }

    .story-pics {
      display: flex;
      justify-content: space-between;
      margin-block: 20px;

      img {
        width: 30%;
        height: 300px;
        object-fit: cover;
        border-radius: 20px;
      }
    }
  }

  .what-we-believe{
    margin-top: 100px;
  }

}

.subheadings {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 24px;
}

table {

  margin-block: 50px;
  border-collapse: collapse;
  border-style: hidden;

  tr {

    td{
      border: 1px solid black;
      width: 30%;
      vertical-align: top;
      padding: 15px;

      h3{
        font-family: 'Nunito';
        font-weight: bold;
        font-size: 16px;
      }

      p{
        font-family: 'Nunito';
        font-size: 12px;
      }

    }
  }
}

.vision {

  .vision-verse{

    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;

    h1{
      font-family: 'Roboto';
      font-weight: bold;
    }

    p{
      font-family: 'Nunito';
      font-size: 16px;
      font-style: italic;
      font-weight: 100;
      padding: 10px;
      text-align: center;
    }
  }


  .picture-pad {

    height: fit-content;
    padding: 10px;
    margin-top: 50px;

    img {
      width: 35%;
      padding: 5px;
      border-radius: 15px;
    }

    div {
      display: flex;
      justify-content: space-between;
    }

  }
}
#ministries {
  background: black;
  width: 100vw;
  margin-bottom: 100px;

  #inner-ministries {
    width: 80%;
    color: white;
    margin-inline: auto;
    padding-block: 40px;

    .picture-pad{
      display: flex;
      justify-content: space-between;
      margin-block: 50px;

      img {
        width: 32%;
        border-radius: 15px;
      }
    }

    ul {
      margin-block: 40px;

      p{
        font-family: 'Nunito';
        font-size: 16px;
        font-weight: 100;
      }

      .strong{
        font-weight: 600;
      }
    }
  }
}
