<div class="resources-hero">

  <h1 id="hero-header">Resources</h1>

  <div id="hero-sub"> <img src="../../../assets/images/camera.png" alt="" height="25px"> &nbsp; The making of "Messages Of My Life"</div>

</div>

<div id="resources-body">

  <h2 class="body-headers">Published Books</h2>

  <div class="book-pad">

    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1 book" >
      <img src="../../../assets/images/Victory.webp" alt="" height="250px">
      <div class="book-title">Victory Over Death</div>
      <div class="book-author">By Dawson Masuku</div>
      <div>
        <button class="buy-button"> <a href="https://www.amazon.com/Victory-Over-Death-Dawson-Masuku-ebook/dp/B093TLXS6R/ref=sr_1_4?dib=eyJ2IjoiMSJ9.TCc1MQPrjjuA23iexBQ9znBOWo_S01K5b81lqU4JBIrmY_zo9aOBdM4ZwQ_7HiTYixyv-SIKm_E1zoHTMQSLeMgZaNVllwFIOA13JwuuzQc.bKHZqzW7fsnIWivw7zdmHSmZWM5tG_Vf_jg-QLCSZnY&dib_tag=se&keywords=dawson+masuku&qid=1737112209&sr=8-4">Buy On Amazon</a> </button>
      </div>
    </div>

    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1 book" >
      <img src="../../../assets/images/Prayer.webp" alt="" height="250px">
      <div class="book-title">Prayer: The Life Line Of Believer</div>
      <div class="book-author">By Dawson Masuku</div>
      <div>
        <button class="buy-button"> <a href="https://www.amazon.com/Prayer-Lifeline-Believer-Dawson-Masuku-ebook/dp/B08BK325MJ/ref=sr_1_5?dib=eyJ2IjoiMSJ9.TCc1MQPrjjuA23iexBQ9znBOWo_S01K5b81lqU4JBIrmY_zo9aOBdM4ZwQ_7HiTYixyv-SIKm_E1zoHTMQSLeMgZaNVllwFIOA13JwuuzQc.bKHZqzW7fsnIWivw7zdmHSmZWM5tG_Vf_jg-QLCSZnY&dib_tag=se&keywords=dawson+masuku&qid=1737112209&sr=8-5">Buy On Amazon</a> </button>
      </div>
    </div>

    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1 book" >
      <img src="../../../assets/images/The great marvels.webp" alt="" height="250px">
      <div class="book-title">The Great Marvels Of Faith</div>
      <div class="book-author">By Dawson Masuku</div>
      <div>
        <button class="buy-button"> <a href="https://www.amazon.com/Great-Marvels-Faith-Dawson-Masuku-ebook/dp/B093TKFBSK/ref=sr_1_3?dib=eyJ2IjoiMSJ9.TCc1MQPrjjuA23iexBQ9znBOWo_S01K5b81lqU4JBIrmY_zo9aOBdM4ZwQ_7HiTYixyv-SIKm_E1zoHTMQSLeMgZaNVllwFIOA13JwuuzQc.bKHZqzW7fsnIWivw7zdmHSmZWM5tG_Vf_jg-QLCSZnY&dib_tag=se&keywords=dawson+masuku&qid=1737112209&sr=8-3">Buy On Amazon</a> </button>
      </div>
    </div>

    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1 book" >
      <img src="../../../assets/images/The blessing.jpg" alt="" height="250px">
      <div class="book-title">The Blessing And The Curse</div>
      <div class="book-author">By Dawson Masuku</div>
      <div>
        <button class="buy-button"> <a href="https://www.amazon.com/Blessing-Curse-Dawson-Masuku-ebook/dp/B0C7CYM3YQ/ref=sr_1_2?dib=eyJ2IjoiMSJ9.TCc1MQPrjjuA23iexBQ9znBOWo_S01K5b81lqU4JBIrmY_zo9aOBdM4ZwQ_7HiTYixyv-SIKm_E1zoHTMQSLeMgZaNVllwFIOA13JwuuzQc.bKHZqzW7fsnIWivw7zdmHSmZWM5tG_Vf_jg-QLCSZnY&dib_tag=se&keywords=dawson+masuku&qid=1737112209&sr=8-2">Buy On Amazon</a> </button>
      </div>
    </div>

    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-1 book" >
      <img src="../../../assets/images/Messages Of My Life.jpg" alt="" height="250px">
      <div class="book-title">Messages Of My Life</div>
      <div class="book-author">By Dawson Masuku</div>
      <div>
        <button class="buy-button"> <a href="https://www.amazon.com/MESSAGES-MY-LIFE-Dawson-Masuku-ebook/dp/B0CV3YP1MY/ref=sr_1_1?dib=eyJ2IjoiMSJ9.TCc1MQPrjjuA23iexBQ9znBOWo_S01K5b81lqU4JBIrmY_zo9aOBdM4ZwQ_7HiTYixyv-SIKm_E1zoHTMQSLeMgZaNVllwFIOA13JwuuzQc.bKHZqzW7fsnIWivw7zdmHSmZWM5tG_Vf_jg-QLCSZnY&dib_tag=se&keywords=dawson+masuku&qid=1737112209&sr=8-1">Buy On Amazon</a> </button>
      </div>
    </div>

  </div>

  <div class="videos">

    <h2 class="body-headers">Youtube Videos</h2>

    <div class="videos-inner">

      <iframe width="30%" height="auto" src="https://www.youtube.com/embed/iOvwiELweh8?si=RiSUYD6zHJ5UP44b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <iframe width="30%" height="auto" src="https://www.youtube.com/embed/PLxnmYehvnY?si=i0xirX8a_AruMOJD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      <iframe width="30%" height="auto" src="https://www.youtube.com/embed/dpX8OwTRL4k?si=YwBIHZT-A9jEtr5h" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>

    <div style="text-align: center;">
      <button> <a href="https://youtube.com/@gladtidingsfellowshipbulaw8141?si=2RS8e2FcyVjqwptU">watch more...</a></button>
    </div>

  </div>

  <div class="library">

    <div class="library-info">
      <h2 class="body-headers">Introducing our new library</h2>
      <p>Our library is a new initiative to equip the saints with a vast array of books from all over the world. We appeal to everyone with the capacity to help with books or finances to grow this initiative</p>
      <button (click)="support()" > Support <img src="../../../assets/images/support.png" alt="" height="25px"> </button>
    </div>

    <div class="library-image">
      <img src="../../../assets/images/lib.jpg" alt="" height="250px">
      <img src="../../../assets/images/lib2.jpg" alt="" height="250px">
      <img src="../../../assets/images/lib3.jpg" alt="" height="250px">
    </div>

    <div></div>

  </div>

  <div id="end-verse">
    <h1>"In him was life, and the life was the light of men."</h1>
    <h3>- John 1 vs 4</h3>
    <div style="margin-top: 30px;">
      This is the Christ that we seek to share on all our platforms.
    </div>

  </div>

</div>
