<div class="resources-page">
  <h1>Resources</h1>
  <div class="resource-list">
    <div class="resource-item">
      <h2>Resource Title 1</h2>
      <p>Description of resource 1. This is a brief summary of what the resource is about.</p>
      <a href="link-to-resource-1" target="_blank">Read More</a>
    </div>
    <div class="resource-item">
      <h2>Resource Title 2</h2>
      <p>Description of resource 2. This is a brief summary of what the resource is about.</p>
      <a href="link-to-resource-2" target="_blank">Read More</a>
    </div>
    <div class="resource-item">
      <h2>Resource Title 3</h2>
      <p>Description of resource 3. This is a brief summary of what the resource is about.</p>
      <a href="link-to-resource-3" target="_blank">Read More</a>
    </div>
  </div>
</div>
