<div>

  <h1>Support The Ministry</h1>

  <div>
    <h2>Payments Inside Zimbabwe</h2>

    <div>
      <h3> <strong>Bank:</strong> First Capital Bank</h3>
      <h3> <strong>Branch:</strong> JM Nkomo Branch</h3>
      <h3> <strong>Acc Name:</strong>  Glad Tidings Fellowship (International missions centre)</h3>
      <h3> <strong>Acc Number:</strong> 2307-1102025</h3>
    </div>

    <div>
      <h3> <strong>Bank:</strong> ZB Bank</h3>
      <h3> <strong>Branch:</strong> Jason Moyo Branch</h3>
      <h3> <strong>Acc Name:</strong>  Glad Tidings Fellowship (International missions centre)</h3>
      <h3> <strong>Acc Number:</strong>4307-195284-202</h3>
    </div>

  </div>

</div>
