/* You can add global styles to this file, and also import other style files */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

@font-face {
  font-family: Quarto;
  src: url('assets/fonts/Quarto.ttf') format("opentype");
}

body{
  position: relative;
  margin: 0;
  width: 100%;
  font-family: 'Nunito';
  overflow-x: hidden;
}

.limit-width {
  width: 80vw;
  max-width: 1200px;
}

.body-headers {
  font-family: Roboto;
  font-weight: bold;
  font-size: 30px;
}

.subheadings {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 24px;
}

.gradient-text {
  background: #06233A;
  background: linear-gradient(to right, #06233A 0%, #0098FA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animate{
  animation: animate-in linear;
  animation-timeline: view();
  animation-range: cover cover 30vh;
}

@keyframes fade-in {

  from {
  display: none;
  opacity: 0;
  filter: blur(2px);
  transform: translateX(20px)
}


to{
  display: flex;
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0px);
}
}

@keyframes animate-in {

  from {
  scale: 0.9;
  opacity: 0;
  filter: blur(3px);
  transform: translateY(100%)
}


to{
  scale: 1;
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0px);
}
}


a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

button:focus{
  outline: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-progress-spinner {
  width: 15px !important;
  height: 15px !important;
  --mdc-circular-progress-size: 15px !important;
  --mdc-circular-progress-active-indicator-width: 15px !important;
}

.mdc-circular-progress__indeterminate-circle-graphic {
  fill: rgb(0 0 0 / 7%) !important;
}

:host ::ng-deep .mat-mdc-tab-group.mat-mdc-primary .mat-mdc-ink-bar {

  background-color: rgb(294, 121, 143) !important;
}

.mat-mdc-progress-spinner circle, .mat-spinner circle{
  stroke: #06233A !important;
}

.mat-spinner, .mat-progress-spinner svg {
  width: 22px !important;
  height: 22px !important;
}
