/* You can add global styles to this file, and also import other style files */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

@font-face {
  font-family: Quarto;
  src: url('assets/fonts/Quarto.ttf') format("opentype");
}

body{
  position: relative;
  margin: 0;
  width: 100%;
  font-family: 'Nunito';
  overflow-x: hidden;
}

.limit-width {
  width: 80vw;
  max-width: 1200px;
}

.body-headers {
  font-family: Roboto;
  font-weight: bold;
  font-size: 30px;
}

.subheadings {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 24px;
}

.gradient-text {
  background: #06233A;
  background: linear-gradient(to right, #06233A 0%, #0098FA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fade-in {

  from {
  display: none;
  opacity: 0;
  filter: blur(2px);
  transform: translateX(20px)
}


to{
  display: flex;
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0px);
}
}


