<div class="hero">
  <div class="slide left" id="slide1" *ngIf="slideIndex == 0" [@slide]="slideIndex == 0 ? 'shown' : 'hidden' " >
    <h1 class="headline">
      We preach the
    </h1>
    <h1 class="headline">
       gospel to all people
    </h1>
    <h1 class="headline">
        by all means.
    </h1>
    <span class="sub-headline">
      “Go therefore and make disciples of all nations...”
         <strong style="color: white !important; font-weight: 600 !important; font-family: 'Poppins' !important;"> - Matthew 28 v 19</strong>
    </span>
    <div style="display: flex; justify-content: center; margin-block: 15px;">
      <button class="call-btn">Call Us <img src="../../../assets/images/phone.png" alt="" height="20px" style="transform: rotateZ(278deg);" ></button>
    </div>
  </div>

  <div class="slide" id="slide2" *ngIf="slideIndex == 1" [@slide]="slideIndex == 1 ? 'shown' : 'hidden' ">

    <div class="left">
      <div>
        <img src="../../../assets/images/rehologo.png" height="100px" alt="">
      </div>
      <h1 class="headline" style="font-size: 40px !important;">"We develop the whole person"</h1>
      <div style="text-align: center;">Rehoboth School Of Excellence</div>
      <div id="buttons">
        <button id="color-btn">learn more</button>
        <button id="border-btn">call us</button>
      </div>
    </div>

    <div class="right">

    </div>

  </div>
 <!--<div class="right">
    <h3>Operating Times</h3>
    <h6><strong> Sunday Service </strong> : 09.00AM</h6>
    <h6><strong> Admin Office </strong> : Opens 09.00AM - Closes 16.00PM</h6>

  </div>-->
</div>
<div class="main-body">

  <h2 class="body-headers">Join Us</h2>

  <div class="invitation limit-width" style="margin-inline: auto;">
      <div class="invitation-cards" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">

        <div>
          <div style="text-align: start; margin-left: 35px; ">
            In-Person <img src="../../../assets/images/location.png" alt="" height="20px">
            <hr class="invite-underline">
          </div>
          <div class="in-person invite-card">
              <button class="invite-btn">Get Directions</button>
          </div>
        </div>

        <div>
          <div style="text-align: start; margin-left: 35px;">
            Livestream <img src="../../../assets/images/livestream.png" alt="" height="20px">
            <hr class="invite-underline">
          </div>
          <div class="online invite-card">
            <button class="invite-btn">Watch Facebook Live</button>
          </div>
        </div>


      </div>
      <div id="times">
        Sundays &#64; 9am <hr> Weekdays from 9am - 4pm
      </div>

  </div>

  <div class="mid-section">

    <div id="mid-section-inner" class="limit-width">
        This is a place for life, rest and peace to the souls of troubled humanity.
    </div>

  </div>

  <div>

    <div class="coming-week">
      <h2 class="body-headers" style="margin-bottom: 40px;">Upcoming Events</h2>

      <div class="events">

        <div class="event limit-width">

          <div class="arrows" style="display: flex; align-items: center; margin-inline: 15px; opacity: 0.8;">
            <img src="../../../assets/images/left-arrow.png" alt="" height="20px">
          </div>

          <div class="left">
            <img src="../../../assets/images/Passover 2025.png" alt="" width="200px">
          </div>

          <div class="right">

            <div class="title"> <strong>Passover Conference</strong> </div>

            <div class="date"> <strong>Date</strong>  : TBD</div>

            <div class="venue"> <strong>Venue</strong>  : Glad Tidings Int. Missions Centre City</div>

            <p class="details">It is our custom that every Passover time, we assembly all our sons and daughters that are able to gather and sit at the feet of the Master Jesus, for a Passover meal together.
              This is our Great Feast. “On the last day, that great day of the feast, Jesus stood and cried out, saying; ‘If anyone thirsts, let him come to me and drink. He who believes in me, as the Scripture has said, out of his heart will flow rivers of living water.’” John 7 v 37- 38.
              Please support this GREAT ASSEMBLING of the saints, by whatever means you are able to, monetary or otherwise. For more information, contact administration above, and follow us on Face-Book from Friday through to Sunday of the Easter Holidays, 2025</p>

          </div>

          <div class="arrows" style="display: flex; align-items: center; margin-inline: 15px; opacity: 0.8;">
            <img src="../../../assets/images/right-arrow.png" alt="" height="20px">
          </div>

        </div>

      </div>
    </div>

  </div>
  <div class="greeting" style="margin-top: 70px;">
    <div class="pastor">
      <div class="image"></div>
      <div class="name" style="font-size: larger;"> <strong>Dawson Masuku</strong> </div>
      <div class="title">Senior Pastor</div>
    </div>
    <div class="quote">“Warm greetings to all our viewers, those who are near and those who are far across the globe.
    To our sons and daughters all over the world, we send our love and blessings to you all. The Lord is good, and we
    pray that his unfailing grace and faithfulness remain upon your lives and to your generations for-ever.”</div>

  </div>


</div>
