.hero{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  background: radial-gradient(#0000007d, #0000007d), url(../../../assets/images/smiles.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
  color: white;
  font-family: 'Poppins';

  .slide{
    .headline{
      text-align: center;
      font-family: "Roboto";
      font-weight: bold;
      font-size: 60px !important;
    }
    .sub-headline{
      font-family: 'Nunito';
      font-weight: lighter;
      color: #ffffffc9;
    }
  }

  .right{
    button{
      color: white;
      width: 170px;
      margin-top: 20px;
      height: fit-content;
      padding: 5px;
      font-size: 16px;
      border: 1px solid rgba(255, 255, 255, 0.062);
      border-radius: 20px;
      background: #439bc5;
    }
  }

}

.call-btn{
  border: none;
  padding-inline: 20px;
  padding-block: 5px;
  border-radius: 15px;
  background-color: #0098FA;
  color: white;
  font-family: 'Nunito';
}

.invite-underline {
  width: 40px;
  height: 1px;
  background: black;
  margin-inline: 0;
  margin-block: 5px;
}

.body-headers {
  font-family: Roboto;
  font-weight: bold;
  font-size: 30px;
}

#times {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  hr {
    width: 35%;
    height: 2px;
    margin-inline: 0px;
    background: black;
  }
}

.main-body{
  margin-top: 70px;
  margin-bottom: 70px;
  width: 80vw;
  margin-inline: auto;
  max-width: 1200px;
  text-align: center;

  .greeting{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .quote{
      width: 40%;
      font-family: 'Poppins';
      font-weight: bold;
      font-style: italic;
      text-align: justify;
      font-size: x-large;
    }

    .pastor{
      text-align: center;
    }
  }

  .invitation{
    text-align: center;
    margin-block-start: 50px;

    .invite-card{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 275px;
      width: 320px;
      margin: 20px;
      border-radius: 20px;
    }
    .invite-btn{
      background: #0098FA;
      font-family: 'Nunito';
      color: white;
      border: none;
      padding-inline: 20px;
      padding-block: 5px;
    }

    .in-person{
      background: radial-gradient(#0000007d, #0000007d), url('../../../assets/images/worship.jpg');
      background-size: cover;
    }

    .online{
      background-image: radial-gradient(#0000007d, #0000007d), url('../../../assets/images/broadcast.jpg');
      background-size: cover;
    }

  }

  .videos{
    display: flex;

    .video{
      background-color: #6E6658;
      height: 180px;
      width: 250px;
      margin-right: 20px;

      .thumbnail{
        background: linear-gradient( #112d32bd, #112D32bd), url(../../../assets/images/dawson.webp);
        background-size: cover;
        background-position: center;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .info{
        color: white;
        padding-left: 10px;
        text-align: center;
      }
    }
  }

  .coming-week{
    margin-top: 100px;
    .coming-event{
      width: 100%;
      background-image: url(../../../assets/images/prayer.jpg);
      background-size: cover;
      background-position: center;
      color: white;
      padding: 7%;
    }
  }

  .mid-section {
    margin-block: 100px;
    height: 450px;
    background: #000B18;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-inline: auto;
    font-size: 30px;
    font-family: 'Nunito';
    font-weight: lighter;
    padding: 50px;
  }

  .upcoming{
    .events{
      background: linear-gradient(135deg, rgb(187 232 237 / 14%), rgba(255, 255, 255, 0.15));
      backdrop-filter: blur(7px);
      -webkit-backdrop-filter: blur(12px);
      box-shadow: -5px 7px 10px 8px #112d322b;
      padding: 30px;
      border-radius: 20px;
      color: white;
      font-size: 13px;
      height: 100%;

      .event{
        background-color: #112D32;
        margin-top: 30px;
        height: 80px;

        .thumbnail{
          padding-left: 0;
        }
        .date{
          background-color: #6E6658;
          float: right;
          margin-right: 10px;
          margin-top: -15px;
          width: 60px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .info{
          margin-top: 1rem;
        }
      }
    }
  }
}
