<div class="hero">
  <div class="slide left" id="slide1">
    <h1 class="headline">
      We preach the gospel to all people at all times by all means.
    </h1>

  </div>
  <div class="right">
    <h3>Operating Times</h3>
    <h6><strong> Sunday Service </strong> : 09.00AM</h6>
    <h6><strong> Admin Office </strong> : Opens 09.00AM - Closes 16.00PM</h6>
    <button>Call Us <img src="../../../assets/images/phone.png" alt="" style="transform: rotateZ(278deg);" ></button>
  </div>
</div>
<div class="main-body">
  <h1>A CHURCH SERVING IN BULAWAYO</h1>
  <div class="invitation">

      <div class="invitation-cards" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
        <h2>Join Us</h2>
        <div class="in-person invite-card">
          <div class="in-person-img">In-person</div>
          Sundays &#64; 9AM <br>
          <button>Directions</button>
        </div>
        <div class="online invite-card">
          <div class="online-img">Facebook</div>
          Sundays &#64; 9AM <br>
          <button>Watch Live</button>
        </div>
      </div>
      <div class="invitation-cards">
        <h2>Other ways to fellowship with us</h2>
        <div class="invite-card"></div>
        <div class="invite-card"></div>
      </div>

  </div>
  <div>

<div class="teachings">
        <h3>Teachings</h3>
        <div class="videos">

          <div class="video">
            <div class="thumbnail">
              <img src="../../../assets/images/play.png" alt="">
            </div>
            <div class="info">
              Topic : What is the church?
            </div>
          </div>

          <div class="video">
            <div class="thumbnail">
              <img src="../../../assets/images/play.png" alt="">
            </div>
            <div class="info">
              Topic : What is the gospel?
            </div>
          </div>

          <div class="video">
            <div class="thumbnail">
              <img src="../../../assets/images/play.png" alt="">
            </div>
            <div class="info">
              Topic : Who is Jesus?
            </div>
          </div>

        </div>
    </div>

    <div class="coming-week">
      <h3>Upcoming Events</h3>
      <div class="coming-event">
        <h3>Pass-over Conference</h3>
        <p>From 07 to 09 April</p> <br>
        <p>It is our custom that every Passover time, we assembly
          all our sons and daughters that are able to gather and sit
          at the feet of the Master Jesus, for a Passover meal together.
          <br> <br>
          This is our Great Feast. “On the last day, that great day of the
          feast, Jesus stood and cried out, saying; ‘If anyone thirsts, let him
          come to me and drink. He who believes in me, as the Scripture has said, out
          of his heart will flow rivers of living water.’” John 7 v 37- 38.
          <br> <br>
          Please support this GREAT ASSEMBLING of the saints, by whatever means you are able
          to, monetary or otherwise. For more information, contact administration above, and follow
          us on Face-Book from Friday through to Sunday of the Easter Holidays, 2023.
        </p>
      </div>
    </div>

  </div>
<!--div class="upcoming col-md-4 col-lg-4">
    <h3>Upcoming events</h3>
    <div class="events">

      <div class="event" style="display: flex; flex-wrap: nowrap;">
        <div class="thumbnail col-4">
          <img src="../../../assets/images/article.jpg" height="100%" alt="">
        </div>
        <div class="col-8">
          <div class="date"> 20 Feb </div>
          <p class="info">This is an event upcoming this week, be sure to attend</p>
        </div>
      </div>

      <div class="event" style="display: flex; flex-wrap: nowrap;">
        <div class="thumbnail col-4">
          <img src="../../../assets/images/article.jpg" height="100%" alt="">
        </div>
        <div class="col-8">
          <div class="date"> 20 Feb </div>
          <p class="info">This is an event upcoming this week, be sure to attend</p>
        </div>
      </div>

      <div class="event" style="display: flex; flex-wrap: nowrap;">
        <div class="thumbnail col-4">
          <img src="../../../assets/images/article.jpg" height="100%" alt="">
        </div>
        <div class="col-8">
          <div class="date"> 20 Feb </div>
          <p class="info">This is an event upcoming this week, be sure to attend</p>
        </div>
      </div>

      <div class="events-btn">
        <button>more events</button>
      </div>
    </div>
  </div>  -->
  <div class="greeting" style="margin-top: 70px;">
    <div class="quote" style="margin: 15px;">“Warm greetings to all our viewers, those who are near and those who are far across the globe.
    To our sons and daughters all over the world, we send our love and blessings to you all. The Lord is good, and we
    pray that his unfailing grace and faithfulness remain upon your lives and to your generations for-ever.”</div>
    <div class="pastor">
      <div class="image" style="height: 300px; margin: 30px;"><img src="../../../assets/images/D,Masuku.jpg" alt="" height="100%" style="border-radius: 5%;"></div>
      <div class="title" style="font-style: italic; margin-top: 15px;">Senior Pastor</div>
      <div class="name" style="font-size: larger;"> <strong>Dawson Masuku</strong> </div>
    </div>
  </div>


</div>
