<div class="hero">
  <div class="slide" id="slide1">
    <h1 class="headline">
      We preach the gospel to all people at all times by all means.
    </h1>
    <button>Contact Us <img src="../../../assets/images/phone.png" alt="" style="transform: rotateZ(278deg);" ></button>
  </div>
</div>
<div class="main-body">
  <div class="col-md-7 col-lg-8">

    <div class="teachings">
        <h3>Teachings</h3>
        <div class="videos">

          <div class="video">
            <div class="thumbnail">
              <img src="../../../assets/images/play.png" alt="">
            </div>
            <div class="info">
              Topic : What is the church?
            </div>
          </div>

          <div class="video">
            <div class="thumbnail">
              <img src="../../../assets/images/play.png" alt="">
            </div>
            <div class="info">
              Topic : What is the gospel?
            </div>
          </div>

          <div class="video">
            <div class="thumbnail">
              <img src="../../../assets/images/play.png" alt="">
            </div>
            <div class="info">
              Topic : Who is Jesus?
            </div>
          </div>

        </div>
    </div>

    <div class="coming-week">
      <h3>Coming this week...</h3>
      <div class="coming-event">
        <h3>Prayer meeting</h3>
        <p>Friday 20 Feb <br> 2200hrs</p> <br>
        <p>Lorem Ipsum is simply dummy text of the printing and
           typesetting industry. Lorem Ipsum has been the industry's
           standard dummy text ever since the 1500s, when an unknown
           printer took a galley of type and
        </p>
      </div>
    </div>

  </div>
  <div class="upcoming col-md-4 col-lg-4">
    <h3>Upcoming events</h3>
    <div class="events">

      <div class="event" style="display: flex; flex-wrap: nowrap;">
        <div class="thumbnail col-4">
          <img src="../../../assets/images/article.jpg" height="100%" alt="">
        </div>
        <div class="col-8">
          <div class="date"> 20 Feb </div>
          <p class="info">This is an event upcoming this week, be sure to attend</p>
        </div>
      </div>

      <div class="event" style="display: flex; flex-wrap: nowrap;">
        <div class="thumbnail col-4">
          <img src="../../../assets/images/article.jpg" height="100%" alt="">
        </div>
        <div class="col-8">
          <div class="date"> 20 Feb </div>
          <p class="info">This is an event upcoming this week, be sure to attend</p>
        </div>
      </div>

      <div class="event" style="display: flex; flex-wrap: nowrap;">
        <div class="thumbnail col-4">
          <img src="../../../assets/images/article.jpg" height="100%" alt="">
        </div>
        <div class="col-8">
          <div class="date"> 20 Feb </div>
          <p class="info">This is an event upcoming this week, be sure to attend</p>
        </div>
      </div>

      <div class="events-btn">
        <button>more events</button>
      </div>
    </div>
  </div>
</div>
